<h1>DASHBOARD</h1>
<h3>Hello {{loggedUser.name}}</h3>

{{#if loggedUser.posts.length}}
  <h2>Your Posts:</h2>
  <ul>
    {{#each loggedUser.posts}}
    <div>
      <li>
        <h4>Title: {{title}}</h4>
        <p>Content: {{content}}</p>
        <p>Date Created: {{date_created}}</p>
      </li>
      </div>
    {{/each}}
  </ul>
{{else}}
  <p>You have no posts yet.</p>
{{/if}}

<script src="/logout.js"></script>