<div class="container clearfix">
  <div class="row">
    <div class="col-md-8">
      <h1>DASHBOARD</h1>
      <h3>Hello {{loggedUser.name}}</h3>

      {{#if loggedUser.posts.length}}
        <h2>Your Posts:</h2>
        <ul>
          {{#each loggedUser.posts}}
          </br>
          <div class="card mb-3">
            <div class="card-header fs-4">
              <a href="dashboard/api/userpost/{{id}}">{{title}}: Created: {{date_created}}</a>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{content}}</p>
              </blockquote>
            </div>
          </div> 
          {{/each}}
        </ul>
      {{else}}
        <p>You have no posts yet.</p>
      {{/if}}
    </div>

    <div class="col-md-4">
      <aside>
        <div class="mb-4">
          <h3>Edit User Profile</h3>
        </div>
        <form class="editUser" action="/dashboard" id="edituser" method="put">
          <div class="form-group">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" class="form-control" id="formGroupExampleInput" placeholder="New Username...">
          </div>
          </br>
          <button id="submitPost" type="submit" class="btn btn-primary">Edit Username</button>
        </form>
        </br>
        <div class="mb-4">
          <h3>Create A New Post</h3>
        </div>
        <form class="addPost" action="/dashboard/api/createpost" id="newPost" method="post">
          <div class="form-group">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" class="form-control" id="formGroupExampleInput" placeholder="Title...">
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <input class="form-control" id="content" name="content" placeholder="Post what you want...">
          </div>
          </br>
          <button id="submitPost" type="submit" class="btn btn-primary">Create</button>
        </form>
      </aside>
    </div>
  </div>
</div>

<script src="/edit-user.js"></script>