
    <div class="card mb-4">
      <div class="card-header">
        <h5>{{post.title}}: Created: {{post.date_created}}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{post.content}}</p>
        <footer class="blockquote-footer">By: {{post.user.name}}</footer>
      </div>
    </div>
          </br>
    </br>
    <div>
      <div class="mb-4">
  <h3><u>Edit This Post</u></h3>
</div>
<form class="editPost" id="updatePostForm" method="PUT" data-post-id="{{post.id}}">
  <div class="form-group">
    <label for="title">Revised Title</label>
    <input id="title" name="newtitle" type="text" class="form-control" placeholder="Title..."></input>
  </div>
  <div class="form-group">
    <label for="content">Revised Content</label>
    <textarea class="form-control" id="content" name="newcontent" placeholder="Anything you want..."></textarea>
  </div>
  </br>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
    </div>
    </br>
    </br>
    </br>
    </br>
    <form class="deletePost" data-post-id="{{post.id}}" method="destroy"><button id="submitPost" type="submit" class="btn btn-danger">Delete Post</button></form>
    
          </br>


<script src="/comment.js"></script>
<script src="/edit-post.js"></script>
<script src="/delete-post.js"></script>
